.widget
  .widget-title
    i(class='fa fa-mypet')= ' ' + __('我的宠物')
  iframe(width="100%",height="200",class="share_self",frameborder="0",scrolling="no",type="application/x-shockwave-flash" src="https://cdn.abowman.com/widgets/hamster/hamster.swf?")
